<link href="@Url.Content("~/Content/CSS/HomeIndex.css")" rel="stylesheet" type="text/css" />


<main>
    <div class="EventsContainer">
        <div class="row">
            <div class="col-4" id="CarouselEvents"></div>
            <div class="col-8" id="CarouselEvents">
                QUEI METTIAMO QUALCOSA
            </div>
        </div>
    </div>

    <h1>Lectures</h1>

    <div id="PartialLectures" class="d-flex flex-row"></div>
   

</main>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {
            $("#CarouselEvents").load('@Url.Action("CarouselEvents", "Home")');
        });

        $(document).ready(function () {
            $("#PartialLectures").load('@Url.Action("ShowLectures", "Home")');
        });
</script>
}

