
@{
    ViewBag.Title = "Info";
}

<link href="~/Content/CSS/Info.css" rel="stylesheet" />
<body>

    <div class="d-flex flex-column align-content-center justify-content-center">
        <section class="col-6 mx-auto">
            <h2>About Us</h2>
            <p>Our project is fueled by a strong passion for astronomy. We are dedicated to providing a space where people can enjoy learning about the cosmos, from 
            articles that delve into the mysteries of the universe,to insightful lectures, updated astronomy events, and comprehensive glossary of astronomical terms.</p>
        </section>

        <br/>

        <section class="col-6 mx-auto">
            <h2>What We Offer</h2>
            <p>On this platform, you can:</p>
            <ul>
                <li>Read insightful articles about various astronomical phenomena.</li>
                <li>Expand your knowledge with our comprehensive astronomy glossary.</li>
                <li>Stay updated with upcoming astronomy events.</li>
                <li>(Future) Book lectures to further enrich your understanding of the cosmos.</li>
            </ul>
        </section>

        <br />

        <section class="col-6 mx-auto ">
            <h2>Contacts</h2>
            <div class="d-flex flex-row">
                <h5><a href="https://github.com/NinoTraverso" class="text-decoration-none" style="color: rgb(255, 183, 3);">GitHub</a></h5>
                <h5><span> | </span></h5>
                <h5><a href="https://linkedin.com/in/ninotraverso-developer-astronomy-planetarysciences" class="text-decoration-none" style="color: rgb(255, 183, 3);">Linkedin</a></h5>
            </div>
        </section>
    </div>

</body>



