
@{
    ViewBag.Title = "Info";
}

<link href="~/Content/CSS/Info.css" rel="stylesheet" />
<body>

    <div class="d-flex flex-column align-content-center justify-content-center">
        <section class="col-6 mx-auto">
            <h2>About Us</h2>
            <p>Our project is fueled by a strong passion for astronomy. We are dedicated to providing a space where people can enjoy learning about the cosmos, from articles that delve into the mysteries of the universe to a comprehensive glossary of astronomical terms.</p>
        </section>

        <section class="col-6 mx-auto">
            <h2>What We Offer</h2>
            <p>On this platform, you can:</p>
            <ul>
                <li>Read insightful articles about various astronomical phenomena.</li>
                <li>Expand your knowledge with our comprehensive astronomy glossary.</li>
                <li>Stay updated with upcoming astronomy events.</li>
                <li>(Future) Book lectures to further enrich your understanding of the cosmos.</li>
            </ul>
        </section>
    </div>

</body>



