@model Observasky.Models.Users


@{
    ViewBag.Title = "Members";
}
<div>
    <h1>Add a new Astronomer to the team?</h1>
    <button class="addAstronomer" onclick="location.href = '@Url.Action("AddAstronomer", "Home")'">Add Astronomer</button>
</div>


<h2>Members</h2>

