@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

main {
    font-family: "Roboto Mono", monospace;
}

body {
    color: white;
}

main {
    font-family: "Roboto Mono", monospace;
}

#HomeIndexMain {

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinning-image {
    display: inline-block;
    animation: spin 4s linear infinite;
}


