
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

body {
    font-family: "Roboto Mono", monospace;
}

button {
    border: none;
    outline: none;
}

.GeneralButton,
.GeneralButton:hover {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
}

.GeneralButton {
    background-color: rgb(2, 48, 71);
    color: rgb(251, 133, 0);
}

.GeneralButton:hover {
    border-radius: 0;
    background-color: rgb(255, 183, 3);
    color: rgb(2, 48, 71);
}
