@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

nav {
    font-family: "Roboto Mono", monospace;
    background-color: rgb(241, 250, 238);
    color: rgb(168, 218, 220);
}

.image-container img {
    max-width: 100px;
    max-height: 100px;
}


/*------------------------------------------ MOBILE VIEW ---------------------------------------*/
@media screen and (min-width: 480px) {
    html {
        width: 100%;
        height: 100%;
        font-family: "Roboto Mono", monospace;
        padding-top: 0;
        margin-top: 0;
        border-top: 0;
    }

    header {
        background-image: url(/assets/Images/Header\ backgrund.jpg);
        background-size: cover;
        width: 100%;
        height: auto;
        padding-top: 16px;
        padding-bottom: 10px;
    }
    /* --------------------------------NAVBAR ----------------------------------*/
    nav {
        width: 90%;
        height: 10%;
        margin: 10px;
        border: solid 10px #324b4e;
        border-top-left-radius: 4em;
        border-top-right-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
        padding: 0;
        position: sticky;
        transition: padding 1s ease;
        margin-left: auto;
        margin-right: auto;
    }

        nav:hover {
            padding: 4px;
        }

    #navBar {
        width: 100%;
        background-color: #95b0b4;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 4em;
        border-top-right-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
        overflow: visible;
    }

    .imageContainer {
        width: 60px;
        height: auto;
        position: relative;
        z-index: 1;
    }

        .imageContainer img {
            width: 90px;
            height: auto;
            padding-right: 20px;
            position: relative;
            top: -14px;
            left: 2px;
        }

    .menu {
        display: inline-flex;
        flex-direction: row;
    }

    .dropDownMenu {
        display: inline-flex;
        flex-direction: row;
    }

    #astronomyMenu {
        font-family: "Roboto Mono", monospace;
        font-size: 0.8em;
        background-color: #95b0b4;
        color: white;
        border: solid 1px #324b4e;
        border-top-left-radius: 4em;
        border-top-right-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
        padding-left: 2px;
        padding-bottom: 2px;
        margin-right: 6px;
        transition: border 0.2s;
        transition: background-color 1s ease;
    }

        #astronomyMenu:hover {
            background-color: #324b4e;
            border: solid 1px rgb(230, 222, 248);
        }

    .dropDownMenuItems {
        transition: transform 0.3s ease;
    }

        .dropDownMenuItems:hover {
            transform: scale(1.3);
        }

    .menu a {
        color: white;
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid 1px #324b4e;
        border-top-left-radius: 4em;
        border-top-right-radius: 4em;
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
        margin-right: 6px;
        border: solid 1px #324b4e;
        transition: background-color 1s ease;
    }

        .menu a:hover {
            background-color: #324b4e;
        }

    .buttonLinks {
        transition: transform 1s ease;
    }

        .buttonLinks:hover {
            transform: scale(1.05);
        }
    /* --------------------------------END OF NAVBAR ----------------------------------*/
